<h1>Welcome to Sumul</h1>
<div>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <input type="number" id="a" name="a" size="1" value="{{ a }}" required [(ngModel)]="a">
    <select id="operator" name="operator" required [(ngModel)]="op">
      <option value="som" selected>+</option>
      <option value="mul">x</option>
    </select>
    <input type="number" id="b" name="b" size="1" value="{{ b }}" required [(ngModel)]="b">
    <button type="submit">Compute</button>
  </form>
  <p>{{ res }}</p>
</div>
